<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 12</div>
    <img src="/image/Beiu1.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 12</div>
    <img src="/image/Beiu2.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 12</div>
    <img src="/image/Beiu3.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 12</div>
    <img src="/image/Beiu5.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 12</div>
    <img src="/image/Beiu7.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">6 / 12</div>
    <img src="/image/Beiu8.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">7 / 12</div>
    <img src="/image/Beiu11.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">8 / 12</div>
    <img src="/image/Beiu12.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">9 / 12</div>
    <img src="/image/Beiu4.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">10 / 12</div>
    <img src="/image/Beiu6.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">11 / 12</div>
    <img src="/image/Beiu9.jpg" style="width: 100%" />
  </div>

  <div class="mySlides fade">
    <div class="numbertext">12 / 12</div>
    <img src="/image/Beiu10.jpg" style="width: 100%" />
  </div>
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div>
<br />

<div style="text-align: center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
  <span class="dot" onclick="currentSlide(11)"></span>
  <span class="dot" onclick="currentSlide(12)"></span>
</div>
