<div class="d-grid mx-auto main align-center">
  <a href="#" id="heart">Click</a>
</div>
<div
  class="container mt-3 position-absolute top-100 start-50 translate-middle-x class-show"
>
  <div class="mt-4 p-5 bg-danger bg-gradient text-white rounded">
    <h1>Mừng ngày đặc biệt của vợ iu!!!</h1>
    <p>
      Anh biết là sinh nhật năm nay dợ hong có được ở cùng gia đình. Dợ cũng
      hong có bánh kem mà cũng hong được đi chơi với anh. Đây là lý do anh làm
      món quà này. Anh làm món quà này với mong muốn em sẽ nhận được lời chúc
      sinh nhật từ nhiều người lạ ở những nơi khác. Và điều đó sẽ làm em đỡ cảm
      thấy tủi thân hơn một chút. Nhân dịp sinh nhật thì anh chúc em mỗi ngày
      cảm thấy vui vẻ hơn. Có thể có thêm những người bạn khác để làm em cảm
      thấy bớt áp lực và cô đơn (bạn nữ thoi hihi :v). Anh cũng chúc cho em mạnh
      mẽ hơn để không bị ai chèn ép kể cả là họ hàng hay những người bên ngoài
      xã hội. Và cuối cùng anh chúc em học thật tốt. Anh hi vọng em không buồn
      quá khi điểm số của em đôi khi không nhưng em mong muốn. Vì điều quan
      trọng là em đã cố gắng hết mình và những kiến thức em học có thể áp dụng
      được cho sau này đi làm. Happy birthday to you my darling. I love you and
      always support you.
    </p>
  </div>
  <div class="container-parent">
    <%-include ('../pages/partials/slideshow')%>
  </div>

  <div
    class="mb-3 mt-3 bg-danger bg-gradient text-white rounded form text-center"
  >
    <h5 class="padding">10 Điều Bé Mún Anh Thay Đổi Cho Bé Dui Hơn:</h5>
    <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    <p class="padding">
      Há hôm nay là ngày của em nên anh cho phép em được đòi hỏi bất cứ điều gì
      =)))). Nhà xe kim cương dì cũng duyệt hết. Ghi hết đi gòi anh sẽ ghi nhớ
      &#10084;
    </p>
    <button class="btn btn-outline-light btn-submit">Submit</button>
  </div>
</div>
